/ATMWithdrawl.java
/CinemaHallSeating.java
/CountVowels.java
/Discount.java
/DoWhileDemo.java
/DoWhileDemo2.java
/Factorial.java
/ForDemo.java
/Greatest2.java
/Greatest3.java
/InfinteLoopDemo.java
/JumpDemo.java
/LoginSystem.java
/Multiplication.java
/NestedLoopDemo1.java
/NestedLoopDemo2.java
/OddEven.java
/OddEvenDisplay.java
/ShoppingBill.java
/SimpleIntrest.java
/SingleDigit.java
/StudentResult.java
/SumAverage.java
/SumofSeries.java
/Sumpositive.java
/SwitchDemo1.java
/SwitchDemo2.java
/SwitchDemo3.java
/TernaryDemo.java
/TernaryDemo2.java
/WhileDemo.java
